$background-color: #FF9D57;
$boxes-color: #FFD2B1;
$yours-color: #B76868;
$text-color: black;
$button-color: orange;

::-webkit-scrollbar {
    width: 10px;
    
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(65, 65, 65); 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
html, footer{
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    overflow-x: hidden;
    // TEXT
    background-color: $background-color;
    color: $text-color;
    font-family: Roboto;
}

body{
    margin: 0;
    padding: 0;
}
// NAVBAR

#navbar{
    position: fixed; 
    top: 0;
    width: 100%;
    height: 3vw;
    z-index: 2; 
    background-color: $background-color;
    nav{
        user-select: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .navlist{
            display: flex;
            justify-content: space-around;
        }
        padding-left: 7vw;
        padding-right: 5vw;  
        
        .logo{
            position: relative;
            width: 300px;
            height: 50px;
            z-index: 2;
            
        }
        .navlist{
            li{
                list-style: none;
                padding: 0 2vmin 0 2vmin;
            }
            a{  
                position: relative;
                color: $text-color;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                font-weight: 200;
                font-size: 1vw;
                padding: 10px 15px 10px;      
                transition: ease 0.5s;                                    
            }
            
            a:after {    
                bottom: 0;
                content: "";
                display: block;
                height: 0.1vw;
                left: 0;
                position: absolute;
                background: white;
                transition: ease-in-out 0.3s;
                width: 0;
              }
              a:hover:after { 
                width: 100%;  
              }
        }
        .burger{
            display: none;
        }
        
        .burger div{
            position: relative;
            width: 25px;
            height: 2px;
            background-color: wheat;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
}
@media screen and (max-width: 1400px){
    #navbar{
        height: 4vw;
        .navlist{
            a{
                font-size: 15vw;
            }
        }
    }
}

/*@media screen and (max-width: 768px){
    ul.navlsit{
        display: none;
        width: 100%;
    }
    .navlist{
        width: 100%;
        position: absolute;
        height: 300px;
        right: 0;
        top: 8vh;
        background-color: $boxes-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s ease-in;
        li{
            text-align: center;
        }
        ul{
            width: 100%;
            flex-direction: column;
        }
    }

    .burger{
        display: block;
        cursor: pointer;
        div{
            position: relative;
            width: 1vw;
            height: 0.1vw;
        }
    }

    ul.navlist.active{
        display: flex;
    }
}
*/
// FirstPart

#first_part{
    height: 45vw;
    width: 100%;
}

.square{
    position: relative;
    background-color: $boxes-color;
    width: 62%;
    height: 30vw;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 5.5%;
    padding-bottom: 2vw;
}

.content{
    font-size: 7vw;
    line-height: 2vw;
    padding-top: 15px;
    padding-left: 30px;
}

.red_woman{
    -webkit-user-drag: none;
    user-select: none;
    position: relative;
    width: 15vw;
    height: 25vw;
    left: 60%;
    bottom: 21vw;
}

.first_line{
    position: relative;
    height: 0.1vw;
    width: 95%;
    background: white;
    bottom: 22vw;
    left: 5vw;
}

.yours{
    color: $yours-color;
    font-style: italic;

}

.buy_button{
    position: relative;
    background-color: $boxes-color;
    height: 2.5vw;
    width: 15vw;
    border-radius: 30px;
    border-width: 0;
    color: $text-color;
    font-size: 1vw;
    left: 75.6%;
    bottom: 48vw;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    transition: 0.5s;
    animation: ease; 
    user-select: none; 
}

.buy_button:hover {
    background-color: #31414b;
    transform: translateY(-5px);
}
.buy_button:active{
    transform: scale(0.98);
}
//SecondPart

#second_part{
    padding-top: 2vw;
    height: 45vw;
    width: 100%;
}

.second_line{
    position: relative;
    height: 0.1vw;
    width: 95%;
    background-color: white;
    bottom: 23.1vw;
    right: 5vw;
}

.yellow_man{
    -webkit-user-drag: none;
    user-select: none;
    position: relative;
    width: 15vw;
    height: 25vw;
    left: 10%;
    bottom: 22.9vw;
}

// boxes
.box1{
    display: inline-block;
    background-color: $boxes-color;
    width: 13vw;
    height: 13vw;
    border-radius: 7px;
    margin-right: 5vw;
    
}
.box2{
    display: inline-block;
    background-color: $boxes-color;
    width: 13vw;
    height: 13vw;
    border-radius: 7px;
    margin-right: 5vw;
}
.box3{
    display: inline-block;
    background-color: $boxes-color;
    width: 13vw;
    height: 13vw;
    border-radius: 7px;
    margin-right: 5vw;
}

// circles
.circle1{
    display: inline-block;
    background-color: $boxes-color;
    width: 13vw;
    height: 13vw;
    margin-right: 5vw;
    border-radius: 50%;
}

.circle2{
    display: inline-block;
    background-color: $boxes-color;
    width: 13vw;
    height: 13vw;
    margin-right: 5vw;
    border-radius: 50%;
}

.circle3{
    display: inline-block;
    background-color: $boxes-color;
    width: 13vw;
    height: 13vw;
    margin-right: 5vw;
    border-radius: 50%;
}

// row1

.row1{
    font-size: 1vw;
    padding-top: 4vw;
    padding-left: 35vw;
    padding-right: 5vw;
}

.row2{
    font-size: 1vw;
    padding-top: 3vw;
    padding-left: 35vw;
    padding-right: 5vw;
}

// quotes

.quote1{
    position: relative;
    left: 4.6vw;
    bottom: 1vw;
}

.quote2{
    position: relative;
    left: 18vw;
    bottom: 1vw;
}
.quote3{
    position: relative;
    left: 28vw;
    bottom: 1vw;
}
.quote4{
    position: relative;
    left: 4.3vw;
    bottom: 1vw;
}

.quote5{
    position: relative;
    left: 18vw;
    bottom: 1vw;
}
.quote6{
    position: relative;
    left: 33vw;
    bottom: 1vw;
}

//third part

#third_part{
    padding-top: 3.9vw;
    height: 45vw;
    width: 100%;
}

.bubbles{
    position: relative;
    z-index: -1;
    width: 100%;
    bottom: 50vw;
}

.newbie_plan{
    display: inline-block;
    background-color: $boxes-color;
    width: 23vw;
    height: 37vw;
    border-radius: 15px;
    margin-left: 7vw;
    img{
        width: 0.8vw;
        height: 0.7vw;
        margin-right: 0.2vw;
    }
    .name{
        text-align: center;
        font-size: 2vw;
        font-weight: 500;
        margin-top: 20px;
    }
    
    .cost{
        text-align: center;
        font-size: 3vw;
        font-weight: bold;
    }
    .dollar{
        font-weight: 300;
        font-size: 1vw;
    }
    .month{
        font-size: 1vw;
        font-weight: 100;
        text-align-last: center;
        margin-bottom: 1vw;
    }
    .plans_qual{
        font-size: 1vw;
        margin-left: 15%;
        line-height: 1.5vw;
        font-weight: lighter;
    }
    .optional{
        margin-top: 2vw;
        margin-left: 15%;
        font-weight: 500;
        font-size: 1vw;
    }
    .buy{
        margin-left: 4%;
        margin-top: 5vw;
        padding-bottom: 1px;
        text-align: center;
        background: $button-color;
        border-radius: 15px;
        outline:none;
        border-width: 0;
        color:$text-color;
        font-weight: 500;
        font-size: 1.3vw;

        letter-spacing: 0.1em;
        width: 90%;
        height: 2.1vw;
        cursor: pointer;
        animation: ease;
        transition: 0.5s;
        user-select: none;
    }
    .buy:hover{
        background-color: #3b82af;
    }
    .buy:active{
        transform: scale(0.98);
    }
    .extra{
        font-style: normal;
        font-weight: normal;
        font-size: 0.7vw;
        text-align: center;
        letter-spacing: 0.05em;
        text-decoration-line: underline;
        color: #7796A8;
        margin-top: 1vw;
        cursor: pointer;
    }
} 

.standart_plan{
    display: inline-block;
    background-color: $boxes-color;
    width: 23vw;
    height: 37vw;
    border-radius: 15px;

    margin-left: 7vw;   
    img{
        width: 0.8vw;
        height: 0.7vw;
        margin-right: 0.2vw;
    }
    .name{
        text-align: center;
        font-size: 2vw;
        font-weight: 500;
        margin-top: 20px;
    }
    
    .cost{
        text-align: center;
        font-size: 3vw;
        font-weight: bold;
    }
    .dollar{
        font-weight: 300;
        font-size: 1vw;
    }
    .month{
        font-size: 1vw;
        font-weight: 100;
        text-align-last: center;
        margin-bottom: 1vw;
    }
    .plans_qual{
        font-size: 1vw;
        margin-left: 15%;
        line-height: 1.5vw;
        font-weight: lighter;
    }
    .optional{
        margin-top: 2vw;
        margin-left: 15%;
        font-weight: 500;
        font-size: 1vw;
    }
    .buy{
        margin-left: 4%;
        margin-top: 5vw;
        background: $button-color;
        border-radius: 15px;
        outline:none;
        border-width: 0;
        color:$text-color;
        font-weight: 500;
        font-size: 1.3vw;

        letter-spacing: 0.1em;
        width: 90%;
        height: 2.1vw;
        cursor: pointer;
        animation: ease;
        transition: 0.5s;
        user-select: none;
    }
    .buy:hover{
        background-color: #3b82af;
    }
    .buy:active{
        transform: scale(0.98);
    }
    .extra{
        font-style: normal;
        font-weight: normal;
        font-size: 0.7vw;
        text-align: center;
        letter-spacing: 0.05em;
        text-decoration-line: underline;
        color: #7796A8;
        margin-top: 1vw;
        cursor: pointer;
    }
}

.premium_plan{
    display: inline-block;
    background-color: $boxes-color;
    width: 23vw;
    height: 37vw;
    border-radius: 15px;
    margin-left: 6.5vw; 

    img{
        width: 0.8vw;
        height: 0.7vw;
        margin-right: 0.2vw;
    }  
    .name{
        text-align: center;
        font-size: 2vw;
        font-weight: 500;
        margin-top: 20px;
    }
    
    .name{
        text-align: center;
        font-size: 2vw;
        font-weight: 500;
        margin-top: 20px;
    }
    
    .cost{
        text-align: center;
        font-size: 3vw;
        font-weight: bold;
    }
    .dollar{
        font-weight: 300;
        font-size: 1vw;
    }
    .month{
        font-size: 1vw;
        font-weight: 100;
        text-align-last: center;
        margin-bottom: 1vw;
    }
    .plans_qual{
        font-size: 1vw;
        margin-left: 15%;
        line-height: 1.5vw;
        font-weight: 100;
    }
    .optional{
        margin-top: 2vw;
        margin-left: 15%;
        font-weight: 500;
        font-size: 1vw;
    }
    .buy{
        margin-left: 4%;
        margin-top: 5vw;
        background: $button-color;
        border-radius: 15px;
        outline:none;
        border-width: 0;
        color:$text-color;
        font-weight: 500;
        font-size: 1.3vw;

        letter-spacing: 0.1em;
        width: 90%;
        height: 2.1vw;
        cursor: pointer;
        animation: ease;
        transition: 0.5s;
        user-select: none;
    }
    .buy:hover{
        background-color: #3b82af;
    }
    .buy:active{
        transform: scale(0.98);
    }
    .extra{
        font-style: normal;
        font-weight: normal;
        font-size: 0.7vw;
        text-align: center;
        letter-spacing: 0.05em;
        text-decoration-line: underline;
        color: #7796A8;
        margin-top: 1vw;
        cursor: pointer;
    }
}

.blue_man{
    -webkit-user-drag: none;
    position: absolute;
    width: 15vw;
    height: 25vw;
    padding-top: 20vw;
    left: 27vw;
}

//contacts

#contacts{
    z-index: 0;
    height: 41.5vw;
    width: 100%;    
    background: $boxes-color;   
    #wave{
        position: relative;
        display: flex;
        align-items: flex-end;
    }

    #contacts_head{
        position: relative;
        top: 5vw;
        font-weight: normal;
        font-size: 2.5vw;
        letter-spacing: 0.3em;
        left: 8vw;
    }
    #contacts_quote{
        position: relative;
        top: 5vw;
        font-style: normal;
        font-weight: 200;
        font-size: 1.1vw;
        padding-left: 8vw;
    }
    #first_column{
        display: inline-block;
        padding-top: 7vw;
        padding-left: 6vw;
        ul{
            padding-inline-start: 2vw;
            .column_head{
                padding-bottom: 1.5vw;
                font-weight: 400;
                font-size: 1.2vw;
            }
            list-style: none;
            font-weight: 200;
            li{
                padding-bottom: 0.8vw;
                font-size: 1vw;
            }
        }
        list-style: none;
    }
    #second_column{
        display: inline-block;
        ul{
            padding-inline-start: 2vw;
            .column_head{
                padding-bottom: 1.5vw;
                font-weight: 400;
                font-size: 1.2vw;
            }
            list-style: none;
            font-weight: 200;
            li{
                padding-bottom: 0.8vw;
                font-size: 1vw;
            }
        }
        list-style: none;
    }
    #third_column{
        display: inline-block;
        ul{
            padding-inline-start: 2vw;
            .column_head{
                padding-bottom: 1.5vw;
                font-weight: 400;
                font-size: 1.2vw;
            }
            list-style: none;
            font-weight: 200;
            li{
                padding-bottom: 0.8vw;
                font-size: 1vw;
            }
        }
        list-style: none;
    }
    .socials{
        position: relative;
        right: 7.5vw;
        top: 7.5vw;
        .insta_logo{
            width: 4vw;
            display: inline-block;
            float: right;
            padding-right: 2vw;
        }
        .tele_logo{
            width: 4vw;
            display: inline-block;
            float: right;
            padding-right: 1vw;
        }
        .youtube_logo{
            width: 4vw;
            display: inline-block;
            float: right;
            padding-right: 1vw;
        }
    }
}
