  
  
   .Registration {
    padding-top: 4%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #FF9D57;
  }
  
  .containerRegister {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 1170px;
    padding-bottom: 3%;
    border-radius: 15px;
    background: #FFD2B1;
    margin: 0 auto; 
    color: rgb(0, 0, 0);
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .form_one {
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .form_two {
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
  }
  
  .form_three {
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .h5, h5 {
   font-size: 1.25rem; 
    font-weight: 400;
  }
  
  .h1, h1.form__title__head  {
   font-size: 3.5rem;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 4%;
    font-weight: 600;
  }
  
  .form__input {
    display: block;
    border-radius: 15px;
    transition: background 0.2s, border-color 0.2s;
    padding: 0.75rem;
    width: 100%;
    font-size: 110%;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    outline: none;
    background-color: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-right: 80px;
  }
  
  .form__input.focus, .form__input:focus {
     outline: 0; 
     box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%); 
  }
  
  .form {
    margin: 0;
    padding-top: 3%;
  }

  
  
  .btn-primaryOne:not(:disabled):not(.disabled).active, .btn-primaryOne:not(:disabled):not(.disabled):active, .show>.btn-primaryOne.dropdown-toggle {
    width: 300px; 
    color: rgb(0, 0, 0);
    padding: 0.75rem;
    border-radius: 15px;  
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 5%;
    
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
    font-size: 1.1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .btn-primaryOne:active {
    transform: scale(0.98);
  }

  .register-button {
    text-align: center;
  }

  .form__input-group {
    margin: 0 auto;
  }

  p.passwordMatch {
    color: green;
    margin-top: 5px;
    padding-top: 0;
    margin-bottom: 0;
  }

  p.passwordNotMatch {
    color: red;
    margin-top: 5px;
    padding-top: 0;
    margin-bottom: 0;
  }

  @media (max-width: 1440px) {
    .containerRegister {
      margin-top: 15px;
      margin-bottom: 20px;
    }
    .h1, h1.form__title__head {
      padding-top: 0;
    }
    .from {
      padding-top: 2%;
    }
  }

  @media (max-width: 768px) {
    .containerRegister {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
    }
    .form {
      padding-top: 2%;
    }

    .form__input {
      padding-right: 20px;
    }

    .h1, h1.form__title__head {
      font-size: 3rem;
      padding-bottom: 1%;
      padding-top: 1%;
    }
    
    .btn-primaryOne:not(:disabled):not(.disabled).active, .btn-primaryOne:not(:disabled):not(.disabled):active, .show>.btn-primaryOne.dropdown-toggle { 
    width: 223px;
    margin-top: 5%;
    }
  }

  @media (max-width: 540px) {
    .form_one, .form_two, .form_three  {
      padding-right: 1%;
      padding-left: 1%;
    }
    .form__input {
      padding-right: 0;
    }

  }

  @media (max-width: 425px) {
    .containerRegister {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 25px;
    }
    .form__input {
      padding-right: 40px;
    }

    .h5, h5 {
      padding-top: 3%;
    }   

    .h1, h1.form__title__head {
      font-size: 2.5rem;
      margin-top: 10px;
    }

    .form_one, .form_two, .form_three{
    flex-direction: column;
    }

    .btn-primaryOne:not(:disabled):not(.disabled).active, .btn-primaryOne:not(:disabled):not(.disabled):active, .show>.btn-primaryOne.dropdown-toggle { 
    width: auto;
    margin-top: 7%;
    }
  } 