#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FF9D57;
  box-shadow: 0 0 3px;
  z-index: 3;
  height: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
  padding-left: 2vw;
}
  
#navbar  .navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 0.5vw;
}
  
#navbar .homepage-logo {
  -webkit-user-drag: none;
  width: 18vw;
  height: 3vw;
}
  
#navbar .navlist li {
  list-style: none;
  padding: 0.5vw 2vmin 0 2vmin;
}  
  
#navbar .navlist a {
  position: relative;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 100;
  font-size: 1.2vw;
  padding: 10px 15px 10px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}  
  
#navbar .navlist a:after {
  bottom: 0.3vw;
  content: "";
  display: block;
  height: 0.1vw;
  left: 0;
  position: absolute;
  background: white;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  width: 0;
}

#navbar .navlist a:hover:after {
  width: 100%;
}

#navbar .burger {
  display: none;
}

#navbar .burger div {
  position: relative;
  width: 25px;
  height: 2px;
  background-color: wheat;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
} 

@media (max-width: 1440px) { 
  #navbar .homepage-logo {
    height: 50px;
    width: 300px;
  }
  #navbar .navlist a {
    font-size: 23px;
  }
}

@media (max-width: 1024px) { 
  #navbar .navlist a {
    font-size: 20px;
  }
  #navbar .homepage-logo {
    height: 45px;
    width: 250px;
  }
  #navbar {
    height: 50px; 
  }
}
@media (max-width: 801px) { 
  #navbar .navlist a {
    font-size: 8px;
    padding: 0px 20px 0px 0px;
  }
  #navbar .navlist li {
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  #navbar {
    height: 50px; 
  }

  h3#welcome {
    right: 10%;
    word-wrap: break-word;
    max-width: 50%;
    font-size: 24px;
  }

  .bm-burger-button {
    left: 94%;
    height: 30px;
    width: 40px;
    top: 10px;
  }
}

@media (max-width: 760px) {
  #navbar a.home, #navbar a.about ,#navbar a.prices  {
    display: none;
  }
  #navbar .navlist a.sing__in {
    font-size: 25px;
  }
}

@media (max-width: 670px) { 
  .bm-burger-button {
    height: 25px;
    width: 35px;
    left: 91%;
    margin-top: -3px;
  }
  #navbar .homepage-logo {
    height: 45px;
    width: 180px;
  }
  #navbar {
    height: 40px; 
  }
  #navbar .navlist a {
    font-size: 18px;
    padding: 0px 10px 0px 0px;
  }
  #navbar .navlist li {
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    margin-right: 0px;
  }
  #navbar .navlist a.sing__in {
    right: 15%;
  }
  h3#welcome {
    font-size: 20px;
  }
}

@media (max-width: 500px) { 
  h3#welcome {
    max-width: 40%;
  }
}

@media (max-width: 425px) { 
  .bm-burger-button {
    left: 88%;
  }
  #navbar .navlist a.sing__in {
    right: 10%;
  }
  h3#welcome {
    font-size: 18px;
  }
}

@media (max-width: 375px) { 
  #navbar .navlist a.sing__in {
    right: 5%;
  }
  #navbar .homepage-logo {
    height: 40px;
    width: 150px;
  }

}
@media (max-width: 320px) { 
  #navbar .navlist a.sing__in {
    top: 5%;
    font-size: 20px;
  }
  h3#welcome {
    font-size: 16px;
  }
  #navbar .homepage-logo {
    height: 35px;
    width: 130px;
  }
}