#profile-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FF9D57;
  box-shadow: 0 0 3px;
  z-index: 3;
  height: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
  padding-left: 2vw;
}
  
#profile-navbar  .profile-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 0.5vw;
}
  
#profile-navbar  .logo-profile {
  -webkit-user-drag: none;
  width: 18vw;
  height: 3vw;
}
  
#profile-navbar  .profile-navlist li {
  list-style: none;
  padding: 0.5vw 2vmin 0 2vmin;
}  
  
#profile-navbar  .profile-navlist a {
  position: relative;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 100;
  font-size: 1.2vw;
  padding: 10px 15px 10px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}  
  
#profile-navbar .profile-navlist a:after {
  bottom: 0.3vw;
  content: "";
  display: block;
  height: 0.1vw;
  left: 0;
  position: absolute;
  background: white;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  width: 0;
}

#profile-navbar  .profile-navlist a:hover:after {
  width: 100%;
}

#profile-navbar  .burger {
  display: none;
}

#profile-navbar  .burger div {
  position: relative;
  width: 25px;
  height: 2px;
  background-color: wheat;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
} 

@media (max-width: 1440px) { 
  #profile-navbar .logo-profile {
    height: 30%;
    width: 30%;
  }
}

@media (max-width: 1024px) { 
  #profile-navbar .logo-profile {
    height: 35%;
    width: 35%;
  }
}

@media (max-width: 768px) {
  #profile-navbar {
    height: 50px; 
  }

  h3#welcome {
    right: 15%;
    word-wrap: break-word;
    max-width: 40%;
  }

  .bm-burger-button {
    left: 90%;
    height: 30px;
    width: 40px;
  }
}

@media (max-width: 670px) { 
  .bm-burger-button {
    height: 25px;
    width: 35px;
  }
  #profile-navbar .logo-profile {
    height: 40%;
    width: 40%;
  }
}
@media (max-width: 425px) { 
  .bm-burger-button {
    left: 88%;
  }
}