$background-color: #FF9D57;
$boxes-color: #FFD2B1;
$yours-color: #B76868;
$text-color: black;
$button-color: orange;

#navbar{
    position: fixed; 
    top: 0;
    width: 100%;
    height: 3vw;
    z-index: 2; 
    background-color: $background-color;
    nav{
        user-select: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .navlist{
            display: flex;
            justify-content: space-around;
        }
        padding-left: 7vw;
        padding-right: 5vw;  
        
        .logo{
            position: relative;
            width: 300px;
            height: 50px;
            z-index: 2;
            
        }
        .navlist{
            li{
                list-style: none;
                padding: 0 2vmin 0 2vmin;
            }
            a{  
                position: relative;
                color: $text-color;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                font-weight: 200;
                font-size: 1vw;
                padding: 10px 15px 10px;      
                transition: ease 0.5s;                                    
            }
            
            a:after {    
                bottom: 0;
                content: "";
                display: block;
                height: 0.1vw;
                left: 0;
                position: absolute;
                background: white;
                transition: ease-in-out 0.3s;
                width: 0;
              }
              a:hover:after { 
                width: 100%;  
              }
        }
        .burger{
            display: none;
        }
        
        .burger div{
            position: relative;
            width: 25px;
            height: 2px;
            background-color: wheat;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
}
@media screen and (max-width: 1400px){
    #navbar{
        height: 4vw;
        .navlist{
            a{
                font-size: 15vw;
            }
        }
    }
}